<!DOCTYPE HTML>
<html>
{% load static %}
<!--20181123 对文件参考django规则进行改造 by 任昊 >
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="lib/html5shiv.js"></script>
<script type="text/javascript" src="lib/respond.min.js"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="{% static '/static/h-ui/css/H-ui.min.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static '/static/h-ui.admin/css/H-ui.admin.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static '/lib/Hui-iconfont/1.0.8/iconfont.css' %}" />
<link rel="stylesheet" type="text/css" href="{% static '/static/h-ui.admin/skin/default/skin.css' %}" id="skin" />
<link rel="stylesheet" type="text/css" href="{% static '/static/h-ui.admin/css/style.css' %}" />
<!--[if IE 6]>
<script type="text/javascript" src="{% static '/lib/DD_belatedPNG_0.0.8a-min.js'%}" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>关联文件</title>
</head>
<body>
<nav class="breadcrumb"><i class="Hui-iconfont">&#xe687;</i>  关联文件
    <button onclick="removeIframe()" class="btn btn-primary radius r"
            style="line-height:1.6em;margin-top:3px;margin-right:30px">关闭选项卡</button>
    <a onclick="selfrefresh()" class="btn btn-success radius r" id="btn_refresh"
       style="line-height:1.6em;margin-top:3px;margin-right:30px" title="刷新" >
        <i class="Hui-iconfont">&#xe68f;</i>
    </a>
</nav>
<div class="page-container" id="listpage">
<!--操作控件区：针对关联文件的编辑操作-------------------------------------------------------------------------->
	<div class="cl pd-5 bg-1 bk-gray">
        <span class="l">
            <a class="btn btn-primary radius" onClick="taskitem_add('关联文件添加','../rfadd/?id={{ myid }}&model={{ mymodel }}')" href="javascript:;" >
                <i class="Hui-iconfont">&#xe600;</i>添加关联文件</a>
        </span>
        <h4>{{ mytitle }}</h4> &nbsp;&nbsp;&nbsp;
        <span class="r">ID为{{ myid }}的{{ mymodel }}共有：<strong>{{ myfiles.count }}</strong> 个关联文件</span> </div>
	<div class="mt-20">
		<table class="table table-border table-bordered table-bg table-hover table-sort table-responsive">
			<thead>
				<tr class="text-c">
					<th width="30">ID</th>
					<th>关联文件说明</th>
					<th width="90">文件大小/KB</th>
					<th width="90">更新时间</th>
                    <th width="60">更新人</th>
					<th width="60">状态</th>
					<th width="60">操作</th>
				</tr>
			</thead>
			<tbody id="listbody">
            {% csrf_token %}
            {% for myfile in myfiles %}
                <tr class="text-c">
					<td>{{ myfile.id }}</td>
					<td class="text-l">
                        <a href='../dlreff/?filename={{ myfile.filename }}'>
                             <u class="text-primary" title="查看相关文件">
                                 {{ myfile.filename }}</u></a>
                        &nbsp;&nbsp;&nbsp;&nbsp;**文件说明**：{{ myfile.abstract }}
                    </td>
					<td>{{myfile.filesize}}</td>
					<td>{{myfile.update_time}}</td>
                    <td>{{myfile.editby.first_name}}{{myfile.editby.last_name}}</td>
					<td class="td-status"><span class="label label-success radius">
                        {{myfile.get_filestatus_display}}</span></td>
					<td class="f-14 td-manage">
                        {% csrf_token %}
                        <a class="ml-5"  href='../dlreff/?filename={{ myfile.filename }}' title="下载文件"><i class="Hui-iconfont">&#xe640;</i></a>
                        <a style="text-decoration:none" class="ml-5" onClick="reffile_del(this,{{ myfile.id }})" href="javascript:;" title="删除"><i class="Hui-iconfont">&#xe6e2;</i></a>
                    </td>
				</tr>
            {% endfor %}
			</tbody>
            <input type="hidden" id="id_vm" value="{{ mymodel }}">
            <input type="hidden" id="id_vt" value="{{ mytitle }}">
            <input type="hidden" id="id_vd" value="{{ myid }}">
		</table>
	</div>
</div>
<!--_footer 作为公共模版分离出去-->
<script type="text/javascript" src="{% static '/lib/jquery/1.9.1/jquery.min.js' %}"></script>
<script type="text/javascript" src="{% static '/lib/layer/2.4/layer.js' %}"></script>
<script type="text/javascript" src="{% static '/static/h-ui/js/H-ui.min.js' %}"></script>
<script type="text/javascript" src="{% static '/static/h-ui.admin/js/H-ui.admin.js' %}"></script> <!--/_footer 作为公共模版分离出去-->

<!--请在下方写此页面业务相关的脚本-->
<script type="text/javascript" src="{% static '/lib/My97DatePicker/4.8/WdatePicker.js' %}"></script>
<script type="text/javascript" src="{% static '/lib/datatables/1.10.0/jquery.dataTables.min.js' %}"></script>
<script type="text/javascript" src="{% static '/lib/laypage/1.2/laypage.js' %}"></script>
<script type="text/javascript">
/*========================================================
//实现列的排序操作响应，jquery方法
*///======================================================
$('.table-sort').dataTable({
	"aaSorting": [[ 1, "desc" ]],//默认第几个排序
	"bStateSave": true,//状态保存
	"pading":false,
	"aoColumnDefs": [
	  //{"bVisible": false, "aTargets": [ 3 ]} //控制列的隐藏显示
	  {"orderable":false,"aTargets":[0,6]}// 不参与排序的列
	]
});

/*=================================================================
//任务-反馈,实际上是通用的函数，层覆盖调用新页面
//layer.open+layer.full实现，应该是hui框架的功能
*///===============================================================
function task_feedback(title,url,id,w,h){
	var index = layer.open({
		type: 2,
		title: title,
		content: url
	});
	layer.full(index);
}

/*任务-添加*/
function taskitem_add(title,url,w,h){
	var index = layer.open({
		type: 2,
		title: title,
		content: url
	});
	layer.full(index);
}

/*任务-编辑*/
function taskitem_edit(title,url,w,h){
	var index = layer.open({
		type: 2,
		title: title,
		content: url
	});
	layer.full(index);
}

/*基础-页面刷新*/
function selfrefresh() {
    location.replace(location.href);
}

/*==============================================================================
//筛选清单目前方法仍然是通过ajax向服务器提交
*///============================================================================
function querylist_some(myid) {
    //注意，使用$选择器时，属性需要带括号，使用document.getElementById不带括号;
    var mystselect = document.getElementById("st_select123");
    var mysd = mystselect.selectedIndex;
    var mytype=mystselect.options[mysd].value;
    var mytype2=mystselect.options[mysd].text;
    var mydatemin=document.getElementById("logmin").value;
    var mydatemax=document.getElementById("logmax").value;
    var myqdesc=document.getElementById("q_taskdesk").value;
    //alert("myid="+myid+"当前选择的状态值="+mytype+"："+mytype2+",日期范围是="+mydatemin+"至"+mydatemax+",描述关键字为:"+myqdesc+"暂时调试到这里");
    //以下是向服务器提交请求和处理返回数据的过程
    var csrftoken = $.cookie('csrftoken');
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
        $.post("../listquery/",
            {
                "qid":myid,
                "qtype":mytype,
                "qdmin":mydatemin,
                "qdmax":mydatemax,
                "qdesc":myqdesc
            },
            function(data,status) {
                if ("success"==status){
                    //alert("服务器反馈：\n"+data+'\n'+"回调状态成功！");
                    $("#listpage").html(data);
                    layer.msg('待办任务筛选成功~~',{icon: 6,time:3000});
                }
                else alert("服务器消息"+data+'\n'+"回调状态不成功="+status);
            });
}

/*==============================================================================
//筛选我的任务清单
*///============================================================================
function querylist_mine(myid) {
    //注意，使用$选择器时，属性需要带括号，使用document.getElementById不带括号;
    var mystselect = document.getElementById("st_select123");
    var mysd = mystselect.selectedIndex;
    var mytype=mystselect.options[mysd].value;
    var mytype2=mystselect.options[mysd].text;
    var mydatemin=document.getElementById("logmin").value;
    var mydatemax=document.getElementById("logmax").value;
    var myqdesc=document.getElementById("q_taskdesk").value;
    //alert("myid="+myid+"当前选择我的任务");
    //以下是向服务器提交请求和处理返回数据的过程
    var csrftoken = $.cookie('csrftoken');
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
        $.post("../listmine/",
            {
                "qid":myid,
                "qtype":mytype,
                "qdmin":mydatemin,
                "qdmax":mydatemax,
                "qdesc":myqdesc
            },
            function(data,status) {
                if ("success"==status){
                    //alert("服务器反馈：\n"+data+'\n'+"回调状态成功！");
                    $("#listpage").html(data);
                    layer.msg('您的待办任务已完成筛选~~',{icon: 6,time:3000});
                }
                else alert("服务器消息"+data+'\n'+"回调状态不成功="+status);
            });
}

/*==============================================================================
//筛选我的任务清单
*///============================================================================
function test_newfun(obj,myid) {
    //alert("当前测试目的为核实当前用户是否已参与了本任务");
    //以下是向服务器提交请求和处理返回数据的过程
    var csrftoken = $.cookie('csrftoken');
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
        $.post("../newtest/",
            {
                "tid":myid,
            },
            function(data,status) {
                if ("success"==status){
                    alert("服务器反馈：\n"+data+'\n'+"回调成功！");
                    if (data==1){
                        alert("您参加了此项任务");
                        task_feedback('任务查看和反馈','../task_feedback/?id='+myid,myid);
                    }
                    else alert("您为参与此项任务，不能进入反馈页面！");
                }
                else alert("服务器消息"+data+'\n'+"回调状态不成功="+status);
            });
}

/*==============================================================================
//文件-删除,目前方法仍然是通过ajax向服务器提交，未用deleteview
//20190718完成调试 by sicksnail
*///============================================================================
function reffile_del(obj,myid){
    if (confirm("确认删除吗？")) {
        var csrftoken = $.cookie('csrftoken');
        function csrfSafeMethod(method) {
            // these HTTP methods do not require CSRF protection
            return (/^(GET|HEAD|OPTIONS|TRACE)$/.test(method));
        }
        $.ajaxSetup({
            beforeSend: function(xhr, settings) {
                if (!csrfSafeMethod(settings.type) && !this.crossDomain) {
                    xhr.setRequestHeader("X-CSRFToken", csrftoken);
                }
            }
        });
        $.post("../delrff/",
            {
                "id":myid
            },
            function(data,status) {
                if ("success"==status){
                        alert("服务器消息："+data);
                        $(obj).parents("tr").remove();
		                layer.msg('文件删除成功，建议您将列表页面进行刷新~~',{icon: 6,time:3000});
                }
                else alert("服务器消息"+data+'\n'+"回调状态不成功="+status);
            });
    }
    else layer.msg('您已放弃此次删除!',{icon: 6,time:3000});
}

</script> 
</body>
</html>