<!DOCTYPE HTML>
<html>
{% load static %}
<head>
<meta charset="utf-8">
<meta name="renderer" content="webkit|ie-comp|ie-stand">
<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
<meta name="viewport" content="width=device-width,initial-scale=1,minimum-scale=1.0,maximum-scale=1.0,user-scalable=no" />
<meta http-equiv="Cache-Control" content="no-siteapp" />
<!--[if lt IE 9]>
<script type="text/javascript" src="{% static '/lib/html5shiv.js'%}"></script>
<script type="text/javascript" src="{% static '/lib/respond.min.js'%}"></script>
<![endif]-->
<link rel="stylesheet" type="text/css" href="{% static '/static/h-ui/css/H-ui.min.css'%}" />
<link rel="stylesheet" type="text/css" href="{% static '/static/h-ui.admin/css/H-ui.admin.css'%}" />
<link rel="stylesheet" type="text/css" href="{% static '/lib/Hui-iconfont/1.0.8/iconfont.css'%}" />
<link rel="stylesheet" type="text/css" href="{% static '/static/h-ui.admin/skin/default/skin.css'%}" id="skin" />
<link rel="stylesheet" type="text/css" href="{% static '/static/h-ui.admin/css/style.css'%}" />
<!--[if IE 6]>
<script type="text/javascript" src="{% static '/lib/DD_belatedPNG_0.0.8a-min.js'%}" ></script>
<script>DD_belatedPNG.fix('*');</script>
<![endif]-->
<title>我的桌面</title>
</head>
<body>
<div class="page-container">
	<p class="f-20 text-success">欢迎使用 web_smim <span class="f-14">v0.1</span>系统！</p>
	<p>当前用户：{{ myself.username }}-{{ myself.first_name }} {{ myself.last_name }} </p>
    <p>注册时间：{{ myself.date_joined }} </p>
	<p>上次登录时间：{{ myself.last_login }} </p>
    <p>注册邮箱：{{ myself.email }} </p>
	<table class="table table-border table-bordered table-bg">
		<thead>
			<tr>
				<th colspan="7" scope="col">现有功能模块清单(如您右侧目录无相关显示，请联系管理员申请授权)</th>
			</tr>
			<tr class="text-c">
				<th>ID</th>
				<th>一级目录</th>
				<th>二级目录</th>
				<th>使用图标</th>
				<th>功能说明</th>
				<th>所需权限</th>
			</tr>
		</thead>
		<tbody>
            {% for myc in categorys %}
			<tr class="text-c">
				<td>{{ forloop.counter }}</td>
				<td>{{ myc.parent_category.title }}</td>
				<td>{{ myc.title }}</td>
				<td><i class="Hui-iconfont">&#xe{{ myc.useicon }};</i></td>
				<td>{{ myc.name }}</td>
				<td>{{ myc.viewperm }}</td>
			</tr>
            {% endfor %}
		</tbody>
	</table>
</div>
<footer class="footer mt-20">
	<div class="container">
		<p>感谢jQuery、layer、laypage、Validform、UEditor、My97DatePicker、iconfont、Datatables、WebUploaded、icheck、highcharts、bootstrap-Switch<br>
			Copyright &copy;2018-2019 sicksnail All Rights Reserved.<br>
			本系统由<a href="http://www.h-ui.net/" target="_blank" title="H-ui前端框架">H-ui前端框架</a>提供前端技术支持</p>
	</div>
</footer>
<script type="text/javascript" src="{% static '/lib/jquery/1.9.1/jquery.min.js'%}"></script>
<script type="text/javascript" src="{% static '/lib/layer/2.4/layer.js'%}"></script>
<script type="text/javascript" src="{% static '/lib/jquery.contextmenu/jquery.contextmenu.r2.js'%}"></script>
<script type="text/javascript">

</script>
</body>
</html>